/* Hide the navbar on screens smaller than 768px */
.navbar {
    display: flex;
  }
  
  @media (max-width: 768px) {
    .navbar {
      display: none;
    }
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    
  }
  
  .left-buttons {
    display: flex;
    gap: 0.5rem;
  }
  
  .right-buttons {
    display: flex;
    gap: 0.5rem;
  }